<html ng-app="TrashQuotidiano">
	<head>
		<title>TrashQuotidiano</title>

		<meta charset="utf-8">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/select.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/select2.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
		<!-- Javascript -->
		<script src="js/lib/angular.min.js"></script>
		<script src="js/lib/ui-bootstrap.min.js"></script>
		<script src="js/lib/angular-sanitize.js"></script>
		<script src="js/lib/select.min.js"></script>
		<script src="js/script.js"></script>

	</head>
	<body>
	<div class="container">

		<h2 class="text-center">TrashQuotidiano</h2>

		<img id="current_image" src="img/TrashQuotidiano.png" style="display: none;">

		<div ng-controller="MainController">

				<div class="row">

					<div class="col-xs-12">

						<div class="canvas" style="width:100%"></div>

						<div class="text-center">
							<br>
							Pre-titolo:
							<input type="text" class="form-control" ng-model='pre_text' ng-change="addText()" placeholder="C'è poco da stare allegri">

							Titolo 1:
							<input type="text" class="form-control" ng-model='title1_text' ng-change="addText()" placeholder="Calano fatturato e pil">
							
							Titolo 2:
							<input type="text" class="form-control" ng-model='title2_text' ng-change="addText()" placeholder="Ma aumentano i meme">

							Dimensione del font:
							<br>
							Pre-titolo:
							<input type="number" ng-model="pre_font_size" ng-change="addText()">
							Titolo:
							<input type="number" ng-model="title_font_size" ng-change="addText()">
						</div>

						<br>
						<div class="row">
							<div class="col-xs-6">
								<button class="btn btn-large btn-primary" ng-click="create()"><h4>Save Image</h4></button>
							</div>
							<div class="col-xs-3 col-xs-offset-3">
								<footer style="text-align: center">
									Coded by <a href="http://github.com/Helias/">Helias</a>, <a href="https://github.com/aegroto/">aegroto</a>
									<br>
									<a href="http://github.com/Helias/TrashQuotidiano">Source code (GitHub)</a>
								</footer>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div> <!-- end container -->
	</body>
</html>
